<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="CYLNDR Contact Form Suite" parallel="false">

    <test name="Contact Form Tests">
        <classes>
            <class name="tests.ContactFormTest"/>
        </classes>
    </test>

</suite>
